{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h2 class="text-center mb-4">Sign Up</h2>
      <form method="post" class="needs-validation mt-5">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group mt-2">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control" required>
            <small class="form-text text-muted w-100">{{ field.help_text }}</small>
            {% if field.errors %}
              <div class="invalid-feedback">
                {{ field.errors }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
        <div class="form-group d-flex align-items-center">
          <input type="checkbox" class="mr-2" id="gdprConsent" name="gdprConsent" required>
          <label for="gdprConsent" style="font-size: 0.8rem;">I agree to the <a href="GDPR" target="_blank">GDPR Privacy Policy</a> and <a href="termsandconditions" target="_blank">Terms and Conditions</a>.</label>
          <div class="invalid-feedback">You must agree to our GDPR Policy and Terms and Conditions before signing up.</div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-animate">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
