{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About EcoScan</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'about/styles/aboutStyles.css' %}">
</head>
<body>
    <header>
        <!-- Include Navbar -->
        {% include 'navbar.html' %}
    </header>
    <div class="container">
        <h1>About EcoScan</h1>
        <section>
            <h2>Our Mission</h2>
            <p>...</p>
        </section>
        <section>
            <h2>Gamification Strategy</h2>
            <p>...</p>
        </section>
        <section>
            <h2>Sustainability Focus</h2>
            <p>...</p>
        </section>
        <section>
            <h2>Technical Framework</h2>
            <p>...</p>
        </section>
        <section>
            <h2>Engagement and Interaction</h2>
            <p>...</p>
        </section>
    </div>
</body>
</html>
