{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About EcoScan</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'about/styles/aboutStyles.css' %}">
    <style>
        .container {
            max-width: 800px; /* Adjust this value based on your current settings */
            margin: auto;
            padding: 0 20px; /* This adds some padding on the left and right */
        }
    </style>
</head>
<body>
    <header>
        <!-- Include Navbar -->
        {% include 'navbar.html' %}
    </header>
    <div class="container">
        <h1>About EcoScan</h1>
        <section>
            <h2>Our Mission</h2>
            <p>At EcoScan, we know that while technology is essential in modern life, it also poses significant 
                environmental risks. With this awareness, we are committed to using technology for a greater 
                purpose: to educate the students of Exeter University about these environmental challenges and 
                inspire collective action towards preventing them. Our application is designed not just as a tool
                 but as a movement, encouraging users to create a more sustainable campus culture through proactive
                  engagement in eco-friendly practices. Our mission aligns with Exeter University's ambitious
                   sustainability objectives, and we aim to help the University's achieve carbon neutrality by 2030.
                    Learn more about these commitments in the University's Environment and Climate Emergency
                    Policy Statement: <a href="https://www.exeter.ac.uk/media/universityofexeter/campusservices/sustainability/docs/Environment_and_Climate_Emergency_Policy_Statement.pdf">which you can find here</a>.</p>
        </section>
        <section>
            <h2>Gamification Strategy</h2>
            <p>Our app changes environmental education into an exciting quest by introducing an 'Easter egg hunt'
                 style game, where QR codes are placed at various sustainability-focused sites across the
                  university. When scanned, these codes unlock a series of quizzes and interactive games that
                   inform users about the campus's sustainable features. This gamified approach not only makes
                    learning about sustainability more engaging but also rewards users for their participation.
                    Furthermore, our ranking system encourages active engagement in eco-friendly behaviors,
                     while the leader board introduces healthy competition, encouraging students to increase their
                      involvement in green initiatives.</p>
        </section>
        <section>
            <h2>Sustainability Focus</h2>
            <p>We have developed our app with the University of Exeter's sustainability goals in mind, <a href="https://www.exeter.ac.uk/about/sustainability/">which you can find here</a>. The primary aim is to motivate students to reduce their carbon footprint through easily adoptable practices. We've included a variety of these practices into our app's content to raise awareness and showcase how easy it is to make a difference. Here are some of the practical actions that students can take to contribute to the reduction of Exeter University's carbon footprint:
                <ul>
                    <li>Choose locally-sourced food to reduce transportation emissions.</li>
                    <li>Minimize food waste by choosing appropriate portion sizes.</li>
                    <li>Use reusable mugs and bottles to reduce the use of single-use plastics.</li>
                    <li>Buy second-hand clothing and avoid ‘fast fashion’.</li>
                    <li>Choose public transport which helps lower carbon emissions.</li>
                </ul>
                By including these University-endorsed guidelines in our quizzes and games, we are helping students to 
                easily make sustainable choices while on campus.
                </p>
        </section>
    </div>
</body>
</html>
