{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Enter Your Email</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group login-text mt-2 {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control {% if field.errors %}is-invalid{% endif %}" required>
            <small class="form-text text-muted w-100">{{ field.help_text }}</small>
            {% endfor %}
        <button type="submit" class="btn btn-primary">Add Email</button>
    </form>
</div>
{% endblock %}