{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/styles/baseStyles.css' %}">

</head>

<body class="{% if request.user.is_authenticated %}{% if request.user.profile.theme_preference == 'light' %}light-mode{% endif %}{% endif %}">
    <header>
        <!-- Include Navbar -->
        {% include 'navbar.html' %}
    </header>
    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show" color="white" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="text-container">
            <div class="welcome-text">
                {% block content %}
                {% if user.is_authenticated %}
                Welcome {{ user.username }}!
            </div>
                <hr class="separator">
                <h2 class="text-center">You are level {{ user.profile.level }} <img src="{% static '/accounts/rank_image/'|add:request.user.profile.rank_image %}" alt="Rank" class="rank-icon"></h2>
                <div class="table-container">
                    <div class="row">
                    <div class="col-md-6">
                    <h3 class="text-center">Your Scans</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Location Names</th>
                                <th>Questions Answered Right</th>
                                <th>Points Obtained</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for quiz in user_quizzes %}
                            <tr>
                                <td>{{ quiz.location.name }}</td>
                                <td>{{ quiz.questions_answered_right }}</td>
                                <td>{{ quiz.points_obtained }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h3 class="text-center">Leaderboard</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Total Locations Discovered</th>
                                <th>Total Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for profile in leaderboard %}
                            <tr class="{% if user.is_authenticated and profile.user == user %}lighter-row{% endif %}">
                                <td>{{ profile.user.username }}</td>
                                <td>{{ profile.total_locations_discovered }}</td>
                                <td>{{ profile.total_points }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                </div>
                  {% else %}
                  <p>You are not logged in</p>
                  <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
                  <a href="{% url 'signup' %}" class="btn btn-success">Sign Up</a>
                  {% endif %}
                  {% endblock %}

        </div>
    </main>

    <!-- Cookie Consent Banner -->
    <div class="cookie-consent-banner" id="cookieConsentBanner">
        <p>We use cookies to improve your experience on our site. By continuing to use our site, you accept our use of cookies.</p>
        <button class="btn btn-primary" onclick="hideCookieBanner()">Accept</button>
    </div>

    <!-- Necessary Scripts for Navbar and Cookies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Check if the user has already accepted the cookie policy
            if (localStorage.getItem('cookieConsent') === 'true') {
                // Hide the cookie consent banner if the user has accepted the policy before
                document.getElementById('cookieConsentBanner').style.display = 'none';
            }
        });

        // Function to hide the cookie banner
        function hideCookieBanner() {
            document.getElementById('cookieConsentBanner').style.display = 'none';
            // Set a flag in localStorage to remember the user's choice
            localStorage.setItem('cookieConsent', 'true');
        }

        // Event listener for the accept button on the cookie banner
        $('#cookieConsentBanner button').on('click touchstart', function(event) {
            hideCookieBanner();
        });
    </script>
</body>

</html>
