{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/styles/baseStyles.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'accounts/images/leaf.png' %}">
</head>

<body class="{% if request.user.is_authenticated %}{% if request.user.profile.theme_preference == 'light' %}light-mode{% endif %}{% endif %}">
    <header>
        <!-- Include Navbar -->
        {% include 'navbar.html' %}
    </header>
    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show" color="white" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="text-container">
            <div class="welcome-text">
                {% block content %}
                {% if user.is_authenticated %}
                Welcome {{ user.username }}!
            </div>
                <hr class="separator">
                <h2 class="text-center">You are level {{ user.profile.level }} <img src="{% static '/accounts/rank_image/'|add:request.user.profile.rank_image %}" alt="Rank" class="rank-icon"></h2>
                <div class="table-container">
                    <div class="row">
                    <div class="col-md-6">
                    <h3 class="text-center">Your Scans</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="location-name">Location Name</th>
                                <th>Questions Answered Right</th>
                                <th>Points Obtained</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if user_quizzes %}
                                {% for quiz in user_quizzes %}
                                <tr>
                                    <td class="location-name">{{ quiz.location.name }}</td>
                                    <td>{{ quiz.questions_answered_right }}/5</td>
                                    <td>{{ quiz.points_obtained }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="3">You have no scans, start scanning now!</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h3 class="text-center">Leaderboard</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="username-header">Username</th>
                                <th>Level</th> 
                                <th>Locations</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for profile in leaderboard %}
                            <tr class="leaderboard-row {% if profile.user.username == user.username %}lighter-row{% endif %}" data-user-id="{{ profile.user.id }}">
                                <td class="username-cell">
                                    <span class="username-text">{{ profile.user.username }}</span>
                                    <img src="{% static 'accounts/rank_image/'|add:profile.rank_image %}" alt="Rank" class="rank-icon-leaderboard">
                                </td>
                                <td class="level-cell">
                                    <span class="level-text">{{ profile.level }}</span>
                                </td>
                                <td class="location-cell">{{ profile.total_locations_discovered }}</td>
                                <td class="points-cell">{{ profile.total_points }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                </div>
                  {% else %}
                  <p>You are not logged in</p>
                  <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
                  <a href="{% url 'signup' %}" class="btn btn-success">Sign Up</a>
                  {% endif %}
                  {% endblock %}
        </div>
        <div class="modal fade" id="userLocationsModal" tabindex="-1" aria-labelledby="userLocationsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg user-locations-modal-dialog">
                <div class="modal-content user-locations-modal-content">
                  <div class="modal-header user-locations-modal-header">
                  <h5 class="modal-title" id="userLocationsModalLabel">User Locations</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                </div>
              </div>
            </div>
          </div>
    </main>

    <!-- Cookie Consent Banner -->
    <div class="cookie-consent-banner" id="cookieConsentBanner">
        <p>We use cookies to improve your experience on our site. By continuing to use our site, you accept our use of cookies.</p>
        <button class="btn btn-primary" onclick="hideCookieBanner()">Accept</button>
    </div>

    <!-- Necessary Scripts for Navbar and Cookies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Check if the user has already accepted the cookie policy
            if (localStorage.getItem('cookieConsent') === 'true') {
                // Hide the cookie consent banner if the user has accepted the policy before
                document.getElementById('cookieConsentBanner').style.display = 'none';
            }
        });

        // Function to hide the cookie banner
        function hideCookieBanner() {
            document.getElementById('cookieConsentBanner').style.display = 'none';
            // Set a flag in localStorage to remember the user's choice
            localStorage.setItem('cookieConsent', 'true');
        }

        // Event listener for the accept button on the cookie banner
        $('#cookieConsentBanner button').on('click touchstart', function(event) {
            hideCookieBanner();
        });
        $(document).ready(function() {
            $('.leaderboard-row .username-cell').click(function() {
            const userId = $(this).closest('tr').data('user-id');
            const username = $(this).text();
            $.ajax({
                url: `/get_user_locations/${userId}`,
                type: 'GET',
                success: function(data) {
                    let tableContent = `
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Questions Answered Right</th>
                                    <th>Points Obtained</th>
                                </tr>
                            </thead>
                            <tbody>`;

                    // Add content to the table body based on the presence of data
                    if (data.length === 0) {
                        // User has not discovered any locations
                        tableContent += `
                            <tr>
                                <td colspan="3">User has not discovered any locations yet</td>
                            </tr>`;
                    } else {
                        // Sort and display the locations
                        data.sort(function(a, b) {
                            return b.points_obtained - a.points_obtained;
                        });
                        data.forEach(function(location) {
                            tableContent += `
                                <tr>
                                    <td>${location.location__name}</td>
                                    <td>${location.questions_answered_right}/5</td>
                                    <td>${location.points_obtained}</td>
                                </tr>`;
                        });
                    }

                    // Close the table tag
                    tableContent += `</tbody></table>`;
                    $('#userLocationsModalLabel').text(username);
                    $('#userLocationsModal .modal-body').html(tableContent);
                    $('#userLocationsModal').modal('show');
                },
                error: function(error) {
                    console.error("Error fetching user locations:", error);
                    $('#userLocationsModal .modal-body').html('<p>Error loading locations.</p>');
                    $('#userLocationsModal').modal('show');
                }
            });
        });

        $('#userLocationsModal').on('click', function(event) {
            if (!$(event.target).closest('.modal-dialog').length) {
                $(this).modal('hide');
            }
        });
    });
    </script>
</body>

</html>
