{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera Page</title>
    <script src="https://cdn.jsdelivr.net/npm/jsqr@latest"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'camera/styles/cameraStyles.css' %}">
    <style>
        #qr-title {
            position: absolute;
            top: 55px;
            text-align: center;
            left: 0;
            width: 100%;
            color: white;
            z-index: 10; 
        }
    </style>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    <div class="container mt-5 pt-5"> 
        <h1 id="qr-title" style="padding-top: 25px;">Scan A QR Code</h1>
    </div>
    <div class="container">
    <div id="video-container">
        <div id="animation-container"></div>
        <canvas id="canvas" class="canvas" hidden></canvas>
        <video id="video-element" autoplay></video>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.4/lottie.min.js"></script>
    <script>
        const video = document.getElementById('video-element');
        const canvasElement = document.getElementById('canvas');
        const canvas = canvasElement.getContext('2d', { willReadFrequently: true });
        function scanQRCode() {
            if (video.readyState === video.HAVE_ENOUGH_DATA) {
                canvasElement.hidden = false;
                canvasElement.height = video.videoHeight;
                canvasElement.width = video.videoWidth;
                canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
                var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
                var code = jsQR(imageData.data, imageData.width, imageData.height, {
                    inversionAttempts: "dontInvert",
                });
                if (code) {
                    const quizId = code.data; 
                    window.location.href = `${quizId}`; d
                    return;
                }
            }
            requestAnimationFrame(scanQRCode);
        }

        navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } })
            .then(function(stream) {
                video.srcObject = stream;
                video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
                requestAnimationFrame(scanQRCode);
            })
            .catch(function(error) {
                console.error('Error accessing the camera:', error);
            });
        var animation = lottie.loadAnimation({
            container: document.getElementById('animation-container'), 
            path: "{% static 'camera/images/scan.json' %}", 
            renderer: 'svg', 
            loop: true, 
            autoplay: true, 
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
