{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera Page</title>
    <script src="https://cdn.jsdelivr.net/npm/jsqr@latest"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'camera/styles/cameraStyles.css' %}">
    <style>
        #qr-title {
            position: absolute;
            top: 55px; /* Adjust as needed */
            text-align: center;
            left: 0;
            width: 100%;
            color: white; /* Ensure the text is visible on top of the video */
            z-index: 10; /* Ensures the title is above the video */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top cut-off-left"> <!-- Add "fixed-top" class -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/camera">Camera<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map">Map</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSettings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Settings
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSettings">
                            <a class="dropdown-item">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="themeSwitch" checked>
                                    <label class="custom-control-label" for="themeSwitch">Theme</label>
                                </div>                                
                            </a>
                            <div class="dropdown-divider"></div>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <form action="{% url 'logout' %}" method="post" class="form-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Log Out</button>
                                </form>
                            </li>                             
                            {% else %}
                            <li class="nav-item">
                                <a class="btn btn-primary mr-2" href="{% url 'login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-success" href="{% url 'signup' %}">Sign Up</a>
                            </li>
                            {% endif %}
                        </div>
                    </li>  
                </ul>
            </div>
        </nav>
    </header>
    <div class="container mt-5 pt-5"> 
        <h1 id="qr-title">Scan A QR Code</h1>
    </div>
    <div id="video-container">
        <canvas id="canvas" hidden></canvas>
        <video id="video-element" autoplay></video>
    </div>

    <script>
        const video = document.getElementById('video-element');
        const canvasElement = document.getElementById('canvas');
        const canvas = canvasElement.getContext('2d', { willReadFrequently: true });

        function scanQRCode() {
            if (video.readyState === video.HAVE_ENOUGH_DATA) {
                canvasElement.hidden = false;
                canvasElement.height = video.videoHeight;
                canvasElement.width = video.videoWidth;
                canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
                var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
                var code = jsQR(imageData.data, imageData.width, imageData.height, {
                    inversionAttempts: "dontInvert",
                });
                if (code) {
                    const quizId = code.data; // Or extract the quiz number from the code.data if it's a URL or has additional text
                    window.location.href = `${quizId}`; // Adjust the path as needed
                    return;
                }
            }
            requestAnimationFrame(scanQRCode);
        }

        navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } })
            .then(function(stream) {
                video.srcObject = stream;
                video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
                requestAnimationFrame(scanQRCode);
            })
            .catch(function(error) {
                console.error('Error accessing the camera:', error);
            });
    </script>
</body>
</html>
