{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Exeter University Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOGfMmmaQuKSGguV1f_uhdBPURszjc7AU"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'map/styles/mapStyles.css' %}"> 

</head>
<body>
    <header>
                {% include 'navbar.html' %}
    </header>

    <div id="text-container">
        <h1 style="font-weight: bold; font-size: 150%;">Places Discovered</h1>
        <hr class="separator">
        <div class="rows">
            <div class="image-column">
                <p><img src="{% static 'map/images/checked.png' %}" alt="Image"></p>
                <p><img src="{% static 'map/images/checked.png' %}" alt="Image"></p>
            </div>
            <div class="text-column">
                <p>Reed Pond</p>
                <p>CREWW Building</p>
            </div>
            <div class="points-column">
                <p>60pts</p>
                <p>30pts</p>
            </div>
        </div>
    </div>
    <button id="menu-icon" class="menu-icon" onclick="showNavbar()" onmouseover="showNavbar()" onmouseout="hideNavbar()"><img src="{% static 'map/images/menu.png' %}" /></button>
    <div id="map-container">
        <div id="map"></div>
    </div>
    {{ completed_locations|json_script:"completedLocationsData" }}
    <script>
        var completedLocations = JSON.parse(document.getElementById('completedLocationsData').textContent);
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var completedLocations = JSON.parse(document.getElementById('completedLocationsData').textContent);
            });
        function showNavbar() {
        var navbar = document.querySelector('.navbar');
        navbar.classList.add("navbar-show");

        var menuIcon = document.getElementById("menu-icon");
        menuIcon.style.visibility = "hidden"; 
        setTimeout(function() {
            menuIcon.style.visibility = "visible"; 
        }, 3000);
        }

        function hideNavbar() {
            var navbar = document.querySelector('.navbar');
            setTimeout(function() {
                navbar.classList.remove("navbar-show");
            }, 3000);
        }
        function initMap() {
            var initialZoom = window.innerWidth < 768 ? 14.5 : 15.5;
            var minZoom = 14.5; 
            var maxZoom = 18.5;
            var bounds = {
                north: 50.73731688079953 + 0.005, 
                south: 50.73731688079953 - 0.01, 
                east: -3.534997163291077 + 0.01, 
                west: -3.534997163291077 - 0.01 
            };

            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 50.73731688079953, lng: -3.534997163291077},
                mapTypeId: 'satellite',
                zoom: initialZoom,
                minZoom: minZoom,
                maxZoom: maxZoom,
                restriction: {
                    latLngBounds: bounds,
                    strictBounds: false
                },
                mapTypeControl: false, 
                fullscreenControl: false,
            });
            map.setTilt(0);
        
            // Define the reference physical area covered by the marker 
            var referenceMarkerAreaMeters = 10000;

            // Calculate the initial pixel size of the marker based on the reference area and the map's initial zoom level
            var initialMarkerSize = calculateMarkerSize(referenceMarkerAreaMeters, map.getZoom());

            var markers = [];

            var buttons = [
                {
                    position: {lat: 50.73915117392608, lng: -3.5321559167578185},
                    name: 'Car Park B',
                    points: '40pts',
                },
                {
                    position: {lat: 50.73790624788057, lng: -3.5348910304944403},
                    name: 'Greenhouse',
                    points: '20pts',
                },
                {
                    position: {lat: 50.734110964281584, lng: -3.5374968901137898},
                    name: 'Reed Pond',
                    points: '60pts',
                },
                {
                    position: {lat: 50.73676120857282, lng: -3.532655722516526},
                    name: 'CREWW Building',
                    points: '30pts',
                },
                {
                    position: {lat: 50.73713813396492, lng: -3.5274834794356487},
                    name: 'East Park',
                    points: '40pts',
                },
                {
                    position: {lat: 50.73667086336443, lng: -3.5378035730211206},
                    name: 'Wellbeing Services Facility',
                    points: '20pts',
                },
                {
                    position: {lat: 50.73877216977989, lng: -3.5295009409546347},
                    name: 'Taddiforde Valley',
                    points: '60pts',
                },
                {
                    position: {lat: 50.738555723132905, lng: -3.533661282297735},
                    name: 'Pine Tree Belt',
                    points: '30pts',
                },
                {
                    position: {lat: 50.740468509998045, lng: -3.529858554346014},
                    name: 'Field Above Car Park B',
                    points: '40pts',
                },
                {
                    position: {lat: 50.737001535028305, lng: -3.5340949573898555},
                    name: 'Laver Pond',
                    points: '20pts',
                },
                {
                    position: {lat: 50.73631416672433, lng: -3.533085721388993}, 
                    name: 'Plantation',
                    points: '60pts',
                },
                {
                    position: {lat: 50.73382888453576, lng: -3.5338409034804577},
                    name: 'Poole gate',
                    points: '30pts',
                },
            ];

            // Create and display buttons on the map
            buttons.forEach(function(button) {
                var isCompleted = completedLocations.includes(button.name);
                var iconUrl = isCompleted ? "{% static 'map/images/tick.png' %}" : "{% static 'map/images/question.png' %}";

                var marker = new google.maps.Marker({
                    position: button.position,
                    map: map,
                    icon: {
                        url: iconUrl,
                        scaledSize: new google.maps.Size(initialMarkerSize, initialMarkerSize)
                    }
                });

                var infowindow = new google.maps.InfoWindow({
                    content: '<h3>' + button.name + '</h3><p>' + button.points + '</p>'
                });

                marker.addListener('mouseover', function() {
                    infowindow.open(map, marker);
                });

                marker.addListener('mouseout', function() {
                    infowindow.close();
                });
                markers.push(marker);
            });

            map.addListener('zoom_changed', function() {
                var currentZoom = map.getZoom();
                var newMarkerSize = calculateMarkerSize(referenceMarkerAreaMeters, currentZoom);
                markers.forEach(function(marker, index) {
                    var button = buttons[index];
                    marker.setIcon({
                        url: marker.getIcon().url,
                        scaledSize: new google.maps.Size(newMarkerSize, newMarkerSize),
                        anchor: new google.maps.Point(newMarkerSize / 2, newMarkerSize / 2) 
                    });
                });
            });
        }

// Function to calculate marker size based on reference area and zoom level
function calculateMarkerSize(referenceAreaMeters, zoom) {
    var earthCircumferenceMeters = 40075016.686;
    var metersPerPixel = earthCircumferenceMeters / (256 * Math.pow(2, zoom));
    var pixelSize = Math.sqrt(referenceAreaMeters / metersPerPixel);
    return pixelSize;
}

initMap();
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#themeSwitch').on('change', function(event) {
                event.stopPropagation(); // Prevent event propagation
                if ($(this).is(':checked')) {
                    $('body').removeClass('light-mode');
                    $('.dropdown-menu').removeClass('dropdown-menu-light');
                    localStorage.setItem('theme', 'dark');
                } else {
                    $('body').addClass('light-mode');
                    $('.dropdown-menu').addClass('dropdown-menu-light');
                    localStorage.setItem('theme', 'light');
                }
            });
    
            // Function to handle hiding the navbar
            function hideNavbar() {
                var navbar = document.querySelector('.navbar');
                setTimeout(function() {
                    navbar.classList.remove("navbar-show");
                }, 3000);
            }
    
            // Function to show the navbar
            function showNavbar() {
                var navbar = document.querySelector('.navbar');
                navbar.classList.add("navbar-show");
    
                var menuIcon = document.getElementById("menu-icon");
                menuIcon.style.visibility = "hidden";
                setTimeout(function() {
                    menuIcon.style.visibility = "visible";
                }, 3000);
            }
        });
    </script>
</body>
</html>
