{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Exeter University Map</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOGfMmmaQuKSGguV1f_uhdBPURszjc7AU"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'map/styles/mapStyles.css' %}"> 
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top cut-off-left"> <!-- Add "fixed-top" class -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/camera">Camera</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/map">Map <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSettings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Settings
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSettings">
                            <a class="dropdown-item">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="themeSwitch" checked>
                                    <label class="custom-control-label" for="themeSwitch">Theme</label>
                                </div>                                
                            </a>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <form action="{% url 'logout' %}" method="post" class="form-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Log Out</button>
                                </form>
                            </li>                               
                            {% else %}
                            <li class="nav-item">
                                <a class="btn btn-primary mr-2" href="{% url 'login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-success" href="{% url 'signup' %}">Sign Up</a>
                            </li>
                            {% endif %}
                        </div>
                    </li>  
                </ul>
            </div>
        </nav>
    </header>
    <div id="text-container">
        <h1 style="font-weight: bold; font-size: 150%;">Places Discovered</h1>
        <hr class="separator">
        <div class="rows">
            <div class="image-column">
                <p><img src="{% static 'map/images/checked.png' %}" alt="Image"></p>
                <p><img src="{% static 'map/images/checked.png' %}" alt="Image"></p>
            </div>
            <div class="text-column">
                <p>Reed Pond</p>
                <p>CREWW Building</p>
            </div>
            <div class="points-column">
                <p>60pts</p>
                <p>30pts</p>
            </div>
        </div>
        <!-- Add more content here as needed -->
    </div>
    <button id="menu-icon" class="menu-icon" onclick="showNavbar()" onmouseover="showNavbar()" onmouseout="hideNavbar()"><img src="{% static 'map/images/menu.png' %}" /></button>
    <div id="map-container">
        <div id="map"></div>
    </div>
    
    <script>
    function showNavbar() {
    var navbar = document.querySelector('.navbar');
    navbar.classList.add("navbar-show");

    var menuIcon = document.getElementById("menu-icon");
    menuIcon.style.visibility = "hidden"; 
    setTimeout(function() {
        menuIcon.style.visibility = "visible"; // Show the menu-icon again after 3 seconds
    }, 3000);
}

function hideNavbar() {
    var navbar = document.querySelector('.navbar');
    setTimeout(function() {
        navbar.classList.remove("navbar-show");
    }, 3000);
}
    function initMap() {
        var initialZoom = 16.5;
        var minZoom = 16.5; // Set your minimum zoom level
        var maxZoom = 18.5;
        var bounds = {
            north: 50.73731688079953 + 0.005, // Set the northern latitude boundary
            south: 50.73731688079953 - 0.01, // Set the southern latitude boundary
            east: -3.534997163291077 + 0.01, // Set the eastern longitude boundary
            west: -3.534997163291077 - 0.01 // Set the western longitude boundary
        };

    var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 50.73731688079953, lng: -3.534997163291077},
        mapTypeId: 'satellite',
        zoom: initialZoom,
        minZoom: minZoom,
        maxZoom: maxZoom,
        restriction: {
            latLngBounds: bounds,
            strictBounds: false
        },
        mapTypeControl: false, // Disable the map type control
        fullscreenControl: false,
    });
    map.setTilt(0);

    // Define the button icon image
    var iconBase = "{% static 'map/images/question.png' %}";

    // Define the reference physical area covered by the marker (e.g., 10 square meters)
    var referenceMarkerAreaMeters = 10000;

    // Calculate the initial pixel size of the marker based on the reference area and the map's initial zoom level
    var initialMarkerSize = calculateMarkerSize(referenceMarkerAreaMeters, map.getZoom());

    // Define the marker variable outside the loop
    var markers = [];

    var buttons = [
        {
            position: {lat: 50.73915117392608, lng: -3.5321559167578185},
            name: 'Car Park B',
            points: '40pts',
            iconUrl: "{% static 'map/images/question.png' %}"
        },
        {
            position: {lat: 50.73790624788057, lng: -3.5348910304944403},
            name: 'Greenhouse',
            points: '20pts',
            iconUrl: "{% static 'map/images/question.png' %}"
        },
        {
            position: {lat: 50.734110964281584, lng: -3.5374968901137898},
            name: 'Reed Pond',
            points: '60pts',
            iconUrl: "{% static 'map/images/tick.png' %}"
        },
        {
            position: {lat: 50.73676120857282, lng: -3.532655722516526},
            name: 'CREWW Building',
            points: '30pts',
            iconUrl: "{% static 'map/images/tick.png' %}"
        },
        // add more
    ];

    // Create and display buttons on the map
    buttons.forEach(function(button) {
        var marker = new google.maps.Marker({
            position: button.position,
            map: map,
            icon: {
                url: button.iconUrl,
                scaledSize: new google.maps.Size(initialMarkerSize, initialMarkerSize)
            }
        });

        var infowindow = new google.maps.InfoWindow({
            content: '<h3>' + button.name + '</h3><p>' + button.points + '</p>'
        });

        marker.addListener('mouseover', function() {
            infowindow.open(map, marker);
        });

        marker.addListener('mouseout', function() {
            infowindow.close();
        });
        markers.push(marker);
    });

    map.addListener('zoom_changed', function() {
        var currentZoom = map.getZoom();
        var newMarkerSize = calculateMarkerSize(referenceMarkerAreaMeters, currentZoom);
        markers.forEach(function(marker, index) {
            var button = buttons[index];
            marker.setIcon({
                url: button.iconUrl,
                scaledSize: new google.maps.Size(newMarkerSize, newMarkerSize),
                anchor: new google.maps.Point(newMarkerSize / 2, newMarkerSize / 2) 
        });
    });
    });
}

// Function to calculate marker size based on reference area and zoom level
function calculateMarkerSize(referenceAreaMeters, zoom) {
    // Assuming a constant reference area for simplicity
    var earthCircumferenceMeters = 40075016.686;
    var metersPerPixel = earthCircumferenceMeters / (256 * Math.pow(2, zoom));
    var pixelSize = Math.sqrt(referenceAreaMeters / metersPerPixel);
    return pixelSize;
}

initMap();  // Call the function to initialize the map
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            // Function to handle theme switch
            $('#themeSwitch').on('change', function(event) {
                event.stopPropagation(); // Prevent event propagation
                if ($(this).is(':checked')) {
                    $('body').removeClass('light-mode');
                    $('.dropdown-menu').removeClass('dropdown-menu-light');
                    localStorage.setItem('theme', 'dark');
                } else {
                    $('body').addClass('light-mode');
                    $('.dropdown-menu').addClass('dropdown-menu-light');
                    localStorage.setItem('theme', 'light');
                }
            });
    
            // Function to handle hiding the navbar
            function hideNavbar() {
                var navbar = document.querySelector('.navbar');
                setTimeout(function() {
                    navbar.classList.remove("navbar-show");
                }, 3000);
            }
    
            // Function to show the navbar
            function showNavbar() {
                var navbar = document.querySelector('.navbar');
                navbar.classList.add("navbar-show");
    
                var menuIcon = document.getElementById("menu-icon");
                menuIcon.style.visibility = "hidden";
                setTimeout(function() {
                    menuIcon.style.visibility = "visible"; // Show the menu-icon again after 3 seconds
                }, 3000);
            }
    
            // Event listener for mouseover event on menu icon
            $('#menu-icon').on('mouseover', function(event) {
                showNavbar();
            });
    
            // Event listener for mouseout event on menu icon
            $('#menu-icon').on('mouseout', function(event) {
                hideNavbar();
            });
    
            // Event listener for click event on navbar dropdown
            $('.dropdown-menu').on('click', function(event) {
                event.stopPropagation(); // Prevent event propagation
            });
    
            // Event listener to close the dropdown menu when clicking outside of it
            $(document).on('click', function(event) {
                $('.dropdown-menu').removeClass('show');
            });
    
            // Event listener for toggling the dropdown menu
            $('#navbarDropdownSettings').on('click', function(event) {
                event.stopPropagation(); // Prevent event propagation
                $('.dropdown-menu').toggleClass('show');
            });
        });
    </script>
    
</body>
</html>
