{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Exeter University Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOGfMmmaQuKSGguV1f_uhdBPURszjc7AU"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'map/styles/mapStyles.css' %}"> 
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'accounts/images/leaf.png' %}">
</head>
<body class="{% if request.user.is_authenticated %}{% if request.user.profile.theme_preference == 'light' %}light-mode{% endif %}{% endif %}">
    <header>
        {% include 'navbar.html' %}
    </header>
    <div id="text-container">
        <p></p>
        <h1 style="font-weight: bold; font-size: 150%;">Places Discovered</h1>
        <hr class="separator">
        <div id="discovered-places-container" data-checked-img-url="{% static 'map/images/checked.png' %}">
        </div>
    </div>
    <button id="menu-icon" class="menu-icon" onclick="showNavbar()" onmouseover="showNavbar()" onmouseout="hideNavbar()"><img src="{% static 'map/images/menu.png' %}" /></button>
    <div id="map-container">
        <div id="map"></div>
    </div>

    <!-- JSON data for completed locations and total points -->
    {{ completed_locations|json_script:"completedLocationsData" }}
    {{ total_points|json_script:"totalPointsData" }}

    <script>
        var userLocationMarker = null;
        var completedLocations = JSON.parse(document.getElementById('completedLocationsData').textContent);
        var totalPoints = JSON.parse(document.getElementById('totalPointsData').textContent);
        var onPhone = window.innerWidth <= 768;
        updateDiscoveredPlaces(completedLocations,totalPoints);

        document.addEventListener("DOMContentLoaded", function(){
            var completedLocations = JSON.parse(document.getElementById('completedLocationsData').textContent);
            var totalPoints = JSON.parse(document.getElementById('totalPointsData').textContent);
            updateDiscoveredPlaces(completedLocations,totalPoints);
            var isTextContainerUp = false; // Flag to track the container's state
            var textContainer = document.getElementById('text-container');

            // Only add the event listener if the text container exists
            if (textContainer) {
                textContainer.addEventListener('click', function() {
                    if (onPhone) {
                        textContainer.style.bottom = isTextContainerUp ? '0' : '0';
                        textContainer.style.height = isTextContainerUp ? '20%' : '60%';
                        isTextContainerUp = !isTextContainerUp;
                    }
                });
            }
    
        });

        function updateDiscoveredPlaces(completedLocations,totalPoints) {
            var container = document.getElementById('discovered-places-container');
            var checkedImgUrl = container.getAttribute('data-checked-img-url');
            container.innerHTML = ''; 

            completedLocations.forEach(function(location) {
                var imageColumn = document.createElement('div');
                imageColumn.className = 'image-column';
                imageColumn.innerHTML = `<p><img src="${checkedImgUrl}" alt="Image"></p>`;

                var textColumn = document.createElement('div');
                textColumn.className = 'text-column';
                textColumn.innerHTML = `<p>${location.name}</p>`;

                var pointsColumn = document.createElement('div');
                pointsColumn.className = 'points-column';
                pointsColumn.innerHTML = `<p>+ ${location.points}</p>`;

                var row = document.createElement('div');
                row.className = 'row';
            
                row.appendChild(imageColumn);
                row.appendChild(textColumn);
                row.appendChild(pointsColumn);

                container.appendChild(row);
            });

            var separator = document.createElement('hr');
            separator.className = 'separator';
            container.appendChild(separator);
            // Total Points Row
            var totalPointsRow = document.createElement('div');
            totalPointsRow.className = 'row';
            // Empty Image Column
            var imageColumnEmpty = document.createElement('div');
            imageColumnEmpty.className = 'image-column';
            // Non-breaking space for maintaining layout consistency
            imageColumnEmpty.innerHTML = `<p>&nbsp;</p>`;
        
            var totalPointsLabel = document.createElement('div');
            totalPointsLabel.className = 'text-column';
            totalPointsLabel.style.fontWeight = 'bold'; 
            totalPointsLabel.innerHTML = `<p>Total Points:</p>`;

            var totalPointsValue = document.createElement('div');
            totalPointsValue.className = 'points-column';
            totalPointsValue.innerHTML = `<p>&nbsp;&nbsp;&nbsp;${totalPoints}</p>`;

            totalPointsRow.appendChild(imageColumnEmpty);
            totalPointsRow.appendChild(totalPointsLabel);
            totalPointsRow.appendChild(totalPointsValue);

            container.appendChild(totalPointsRow);
        }

        function showNavbar() {
            var navbar = document.querySelector('.navbar');
            navbar.classList.add("navbar-show");

            var menuIcon = document.getElementById("menu-icon");
            menuIcon.style.visibility = "hidden"; 
            setTimeout(function() {
                menuIcon.style.visibility = "visible"; 
            }, 8000);
        }

        function hideNavbar() {
            var navbar = document.querySelector('.navbar');
            setTimeout(function() {
                navbar.classList.remove("navbar-show");
            }, 8000);
        }

        function initMap() {
            var initialZoom = window.innerWidth < 768 ? 14.5 : 15.5;
            var minZoom = 14.5; 
            var maxZoom = 18.5;
            var bounds = {
                north: 50.73731688079953 + 0.005, 
                south: 50.73731688079953 - 0.01, 
                east: -3.534997163291077 + 0.01, 
                west: -3.534997163291077 - 0.01 
            };

            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 50.73731688079953, lng: -3.534997163291077},
                mapTypeId: 'satellite',
                zoom: initialZoom,
                minZoom: minZoom,
                maxZoom: maxZoom,
                restriction: {
                    latLngBounds: bounds,
                    strictBounds: false
                },
                tilt: 0,
                mapTypeControl: false, 
                fullscreenControl: false,
         
                zoomControl: !onPhone
        
            });

            trackUserLocation(map);
         
            var streetView = map.getStreetView();

            // Disable fullscreen option on streetview
            streetView.setOptions({
                fullscreenControl: false
            });
        
            // Define the reference physical area covered by the marker 
            var referenceMarkerAreaMeters = 10000;

            // Calculate the initial pixel size of the marker based on the reference area and the map's initial zoom level
            var initialMarkerSize = calculateMarkerSize(referenceMarkerAreaMeters, map.getZoom());

            var markers = [];

            var buttons = [
                {
                    position: {lat: 50.73915117392608, lng: -3.5321559167578185},
                    name: 'Car Park B',
                },
                {
                    position: {lat: 50.73790624788057, lng: -3.5348910304944403},
                    name: 'Greenhouse',
                },
                {
                    position: {lat: 50.734110964281584, lng: -3.5374968901137898},
                    name: 'Reed Pond',
                },
                {
                    position: {lat: 50.73676120857282, lng: -3.532655722516526},
                    name: 'CREWW Building',
                },
                {
                    position: {lat: 50.73713813396492, lng: -3.5274834794356487},
                    name: 'East Park',
                },
                {
                    position: {lat: 50.73667086336443, lng: -3.5378035730211206},
                    name: 'Wellbeing Services Facility',
                },
                {
                    position: {lat: 50.73877216977989, lng: -3.5295009409546347},
                    name: 'Taddiforde Valley',
                },
                {
                    position: {lat: 50.738555723132905, lng: -3.533661282297735},
                    name: 'Pine Tree Belt',
                },
                {
                    position: {lat: 50.740468509998045, lng: -3.529858554346014},
                    name: 'Field Above Car Park B',
                },
                {
                    position: {lat: 50.737001535028305, lng: -3.5340949573898555},
                    name: 'Laver Pond',
                },
                {
                    position: {lat: 50.73631416672433, lng: -3.533085721388993}, 
                    name: 'Plantation',
                },
                {
                    position: {lat: 50.73382888453576, lng: -3.5338409034804577},
                    name: 'Poole Gate',
                },
            ];

            // Create and display buttons on the map
            buttons.forEach(function(button) {
                var isCompleted = completedLocations.some(location => location.name === button.name);
                var iconUrl = isCompleted ? "{% static 'map/images/tick.png' %}" : "{% static 'map/images/question.png' %}";
                var discoveredLocation = completedLocations.find(location => location.name === button.name);
                var pointsText = isCompleted ? discoveredLocation.points + 'pts' : "Not Discovered";

                var marker = new google.maps.Marker({
                    position: button.position,
                    map: map,
                    icon: {
                        url: iconUrl,
                        scaledSize: new google.maps.Size(initialMarkerSize, initialMarkerSize)
                    }
                });
                marker.isInfowindowOpen = false;

                var infowindow = new google.maps.InfoWindow({
                    content: '<h3>' + button.name + '</h3><p>' + pointsText + '</p>'
                });

                marker.addListener('mouseover', function() {
                    infowindow.open(map, marker);
                });

                marker.addListener('mouseout', function() {
                    infowindow.close();
                });

                marker.addListener('click', function() {
                    if (marker.isInfowindowOpen) {
                        infowindow.close();
                    } else {
                        infowindow.open(map, marker);
                    }
                    marker.isInfowindowOpen = !marker.isInfowindowOpen;
                });

                markers.push(marker);
            });

            map.addListener('zoom_changed', function() {
                var currentZoom = map.getZoom();
                var newMarkerSize = calculateMarkerSize(referenceMarkerAreaMeters, currentZoom);
                markers.forEach(function(marker, index) {
                    var button = buttons[index];
                    marker.setIcon({
                        url: marker.getIcon().url,
                        scaledSize: new google.maps.Size(newMarkerSize, newMarkerSize),
                        anchor: new google.maps.Point(newMarkerSize / 2, newMarkerSize / 2) 
                    });
                });
            });
        }

        // Function to calculate marker size based on reference area and zoom level
        function calculateMarkerSize(referenceAreaMeters, zoom) {
            var earthCircumferenceMeters = 40075016.686;
            var metersPerPixel = earthCircumferenceMeters / (256 * Math.pow(2, zoom));
            var pixelSize = Math.sqrt(referenceAreaMeters / metersPerPixel);
            return pixelSize;
        }

        function trackUserLocation(map) {
            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(function(position) {
                    var userPos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    if (!userLocationMarker) {
                        userLocationMarker = new google.maps.Marker({
                            position: userPos,
                            map: map,
                            icon: {
                                url: "{% static 'map/images/user-location-icon.png' %}", 
                                scaledSize: new google.maps.Size(30, 30), 
                            },
                            title: "Your Location"
                        });
                    } else {
                        userLocationMarker.setPosition(userPos);
                    }
                    if (!map.getBounds().contains(userLocationMarker.getPosition())) {
                        userLocationMarker.setMap(null);
                    } else {
                        userLocationMarker.setMap(map);
                    }
                }, function() {
                    // Handle location error (if the user does not give permission)
                    console.error("Error fetching the user's location.");
                }, {
                    maximumAge: 10000, // Update location
                    timeout: 5000, // Wait 5 seconds for response
                    enableHighAccuracy: true // Request the most accurate location 
                });
            } else {
                console.error("Your browser doesn't support geolocation.");
            }
        }
        initMap();
    </script>
    <!-- Necessary scripts for jQuery and Bootstrap functionality -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#themeSwitch').on('change', function(event) {
                event.stopPropagation(); 
                if ($(this).is(':checked')) {
                    $('body').removeClass('light-mode');
                    $('.dropdown-menu').removeClass('dropdown-menu-light');
                    localStorage.setItem('theme', 'dark');
                } else {
                    $('body').addClass('light-mode');
                    $('.dropdown-menu').addClass('dropdown-menu-light');
                    localStorage.setItem('theme', 'light');
                }
            });
    
            // Function to handle hiding the navbar
            function hideNavbar() {
                var navbar = document.querySelector('.navbar');
                setTimeout(function() {
                    navbar.classList.remove("navbar-show");
                }, 3000);
            }
    
            // Function to show the navbar
            function showNavbar() {
                var navbar = document.querySelector('.navbar');
                navbar.classList.add("navbar-show");
    
                var menuIcon = document.getElementById("menu-icon");
                menuIcon.style.visibility = "hidden";
                setTimeout(function() {
                    menuIcon.style.visibility = "visible";
                }, 3000);
            }
        });
    </script>
</body>
</html>
