{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        /* CSS for the phone icon */
        .phone-icon {
            width: 30px; 
            height: auto; 
            margin-left: 0px; 

        }
        .nav-link {
            cursor: pointer;
        }
    </style>
</head>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><img src="{% static '/accounts/images/leaf.png' %}" alt="Phone Icon" class="phone-icon"> EcoScan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                <a class="nav-link" href="/" role="button">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'camera' %}active{% endif %}">
                <a class="nav-link" href="/camera" role="button">Camera</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'map' %}active{% endif %}" >
                <a class="nav-link" href="/map" role="button">Map</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
                <a class="nav-link" href="/about" role="button">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSettings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSettings">
                    <a class="dropdown-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="themeSwitch" checked>
                            <label class="custom-control-label" for="themeSwitch">Theme</label>
                        </div>
                    </a>
                </div>
            </li>
            <!-- Authentication Links -->
            {% if user.is_authenticated %}
            <li class="nav-item">
                <form action="{% url 'logout' %}" method="post" class="form-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" role="button">Log Out</button>
                </form>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="btn btn-primary mr-2" href="{% url 'login' %}" role="button">Log In</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-success" href="{% url 'signup' %}" role="button">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<!-- Necessary Scripts for Navbar -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#themeSwitch').on('change', function(event) {
            event.stopPropagation(); // Prevent event propagation
            $('body').toggleClass('light-mode');
            $('.dropdown-menu').toggleClass('dropdown-menu-light');
        });
        
        // Event listener to prevent dropdown menu from closing when clicking inside the dropdown
        $('.dropdown-menu').on('click touchstart', function(event) {
            event.stopPropagation(); // Prevent event propagation
        });

        // Event listener to close the dropdown menu when clicking outside of it
        $(document).on('click touchstart', function(event) {
            $('.dropdown-menu').removeClass('show');
        });

        // Event listener to toggle the dropdown menu when clicking the dropdown toggle
        $('#navbarDropdownSettings').on('click touchstart', function(event) {
            event.stopPropagation(); // Prevent event propagation
            $('.dropdown-menu').toggleClass('show');
        });

        // Additional event listener to close the dropdown menu when releasing touch on the dropdown toggle
        $('#navbarDropdownSettings').on('touchend', function(event) {
            $('.dropdown-menu').toggleClass('show');
        });

        // Event listener to close the dropdown menu when clicking outside of it
        $(document).on('click touchstart', function(event) {
            $('.navbar-collapse').collapse('hide'); 
        });

        // Event listener to toggle the dropdown menu when clicking the dropdown toggle
        $('.navbar-toggler').on('click touchstart', function(event) {
            event.stopPropagation(); // Prevent event propagation
            $('.navbar-collapse').collapse('toggle');
        });
    });
</script>
