body {
    background-color: #272727;
    color: #fff; /* Set text color to white */
    padding-top: 70px; /* Add padding to account for the fixed navbar */
    font-family: 'Arial', sans-serif; /* Set font-family to sans-serif */
}
.navbar-nav .nav-link {
    font-size: 100%; /* Adjust the font size as needed */
}

.welcome-text {
    font-size: 3rem; /* Set font size to 3rem (adjust as needed) */
    text-align: center; /* Center the text */
    margin-bottom: 0.5%;
}

/* Navbar */
.navbar {
    font-family: 'Arial', sans-serif; /* Set font-family to sans-serif */
}
#text-container {
    position: fixed; /* Fix the position to prevent pushing the map */
    top: 2%; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100vw;
    height: 100vh; /* Fill the entire viewport height */
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Include padding in width calculation */
    text-align: center;
}
.separator {
    width: 100%;
    height: 4px; /* Specify the height of the separator */
    margin-top: 2px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #00027a, #0004ff, #00ebfc,#0004ff,#00027a ); /* Blue gradient */
    animation: flowing 8s linear infinite; /* Flowing animation */
    background-size: 200% 100%; /* Set the initial background size for animation */
    background-position: 0% 0; /* Set initial background position for animation */
    border: none; /* Remove border */
    box-shadow: 0 0 10px rgba(154, 154, 154, 0.467);
}

/* Animation keyframes for flowing effect */
@keyframes flowing {
    0% { background-position: 0% 0; }
    100% { background-position: 200% 0; }
}
.table-container {
    margin-top: 20px; /* Add some margin between the separator and the table */
    padding: 0 20px; /* Add padding to the table container */
    overflow-y: auto; /* Add horizontal scroll if needed */
}

.table {
    position: relative; /* Add position relative to contain pseudo-elements */
    width: 100%; /* Make the table fill the container */
    background: linear-gradient(0deg, #000, #272727);
}

/* Center-align text in table cells */
.table td {
    border-radius: 4px;
    color: rgb(227, 227, 227);
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 1px 0 #000;
    font-size: large;
}

.table th {
    border-radius: 4px;
    color: rgb(227, 227, 227);
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 1px 0 #000;
    font-size: large;
}
.lighter-row td {
    background-color: #323232; /* Define the lighter color for the cells */
}

.table:before,
.table:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #00027a, #0004ff, #00ebfc, #0004ff, #00027a, #0004ff, #00ebfc, #0004ff, #00027a, #0004ff);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 40s linear infinite;
    border-radius: 6px; /* Adjust border-radius for desired thickness */
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.table:after {
    filter: blur(20px); /* Adjust blur value for the desired effect */
}
/* CSS for the phone icon */
.phone-icon {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 0px; /* Adjust spacing between the icon and the text */

}

