body {
    background-color: #272727;
    color: #fff; 
    padding-top: 70px; 
    font-family: 'Arial', sans-serif; 
}
.navbar-nav .nav-link {
    font-size: 100%; 
}
.welcome-text {
    font-size: 3rem; 
    text-align: center; 
    margin-bottom: 0.5%;
}

/* Cookie banner */
.cookie-consent-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(52, 58, 64, 0.9); 
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 100;
}
.cookie-consent-banner button {
    margin-top: 10px;
}

.table-container{
    height: 100vh;
}

.navbar {
    font-family: 'Arial', sans-serif; 
}

#text-container {
    position: fixed; 
    top: 2%;
    left: 0; 
    width: 100vw;
    height: 100vh; 
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
    box-sizing: border-box; 
    text-align: center;
}
.separator {
    width: 100%;
    height: 4px; 
    margin-top: 2px;
    margin-bottom: 20px;
<<<<<<< HEAD
    background: linear-gradient(to right, #006600, #01970b, #00ff1a,#009d0b,#006600 );
=======
    background: linear-gradient(to right, #02b69c, #49d8a3, #95fcab,#49d8a3,#02b69c ); 
>>>>>>> b195e53a236f92c7f734753b11dd48856384b107
    animation: flowing 8s linear infinite, pulseShadow 4s infinite alternate;
    background-size: 200% 100%;
    background-position: 0% 0; 
    border: none; 
}

/* Animation keyframes for flowing effect */
@keyframes flowing {
    0% { background-position: 0% 0; }
    100% { background-position: 200% 0; }
}
@keyframes pulseShadow {
    0% {
        box-shadow: 0 0 20px #95fcab; /* Starting state of the shadow */
    }
    100% {
        box-shadow: 0 0 10px #49d8a3; /* End state of the shadow */
    }
}

.table-container {
    margin-top: 20px; 
    padding: 0 20px; 
    overflow-y: auto; 
    flex: 1;
}
.table {
    position: relative; 
    width: 100%; 
    background: linear-gradient(0deg, #000, #272727);
}
.table td {
    border-radius: 4px;
    color: rgb(227, 227, 227);
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 1px 0 #000;
    font-size: large;
}
.table th {
    border-radius: 4px;
    color: rgb(227, 227, 227);
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 1px 0 #000;
    font-size: large;
}
.lighter-row {
    background-color: #323232;
}
.table:before,
.table:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg,  #004800, #017c09, #00ff1a,#017c09,#004800, #017c09, #00ff1a, #017c09, #004800, #017c09);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 40s linear infinite;
    -webkit-animation: steam 40s linear infinite;
    border-radius: 6px; 
    transform: translate3d(0,0,0);
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
@-webkit-keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.table:after {
    filter: blur(20px); 
}
.username-cell {
    display:flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 10px; 
    border-right: none!important;
    border-left: none!important;
}
.username-text {
    margin-right: 0; 
    flex-grow: 1; 
    text-align: left; 
}
.rank-icon-leaderboard {
    width: 40px;
    height: auto;
    display: inline;
    vertical-align: middle;
    margin-left: auto;
}
.username-header{
    text-align: left!important; 
}
.location-name{
    text-align: left!important; 
}

/* CSS for the phone icon */
.phone-icon {
    width: 30px; 
    height: auto; 
    margin-left: 0px; 

}

.rank-icon {
width: 40px;
height: auto;
vertical-align: top;
}
.login-text{
    font-size: 100%;
}
.register-text{
    font-size: 100%;
}
/* Styles for smaller screens */
@media (max-width: 600px) {
    .rank-icon {
      width: 40px; 
    }
    .login-text{
        font-size: 50%;
    }
    .register-text{
        font-size: 70%;
    }
    .table td {
        font-size: 100%;
    }
    .table th {
        font-size: 80%;
        vertical-align: middle!important;
    }
    .rank-icon-leaderboard {
        width: 30px!important;
    }
    .username-cell {
        font-size: small!important;
    }
    .welcome-text {
        font-size: 2.5rem; 
    }
  }

  /* Settings Dropdown Menu Styles */
.dropdown-menu {
    background-color: #272727;
    border-color: #fff;
    border-radius: 2px;
    color: #fff;
    box-shadow: 0px 0px 15px white;
}
.dropdown-menu .dropdown-item {
    color: #fff; 
}
.dropdown-menu .dropdown-item:hover {
    background-color: #787575; 
}

/* Dark mode styles */
.dark-mode {
    background-color: #121212; 
    color: #ffffff; 
}
.dark-mode .navbar {
    background-color: #272727; 
}
.dark-mode .table {
    background-color: #333; 
}

/* Light mode styles */
.light-mode {
    background-color: #ffffff; 
    color: #000000; 
}
.light-mode .navbar {
    background-color: #f8f9fa; 
}
.light-mode .table {
    background-color: #ffffff; 
    color: #000000;
}
.light-mode .nav-link,
.light-mode .dropdown-item {
    color: #000000;
}
.light-mode .dropdown-menu {
    background-color: #ffffff; 
    color: #000000; 
    border-color: #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

/* Form Styles */
.btn-animate {
    transition: background-color 0.3s, transform 0.2s;
}
.btn-animate:hover {
    background-color: #0056b3; 
    transform: translateY(-3px); 
}
.btn-animate:active {
    background-color: #004080; 
    transform: translateY(1px); 
}

.form-group.mb-2 {
    margin-bottom: 0.5rem !important;
}
.form-group.mt-3 {
    margin-top: 1rem !important; 
}
.form-text {
    width: 100%; 
    font-size: 0.75rem; 
    white-space: normal; 
}
.form-text ul {
    list-style-type: none;
}

.signup-text {
    font-size: 0.35em;
}
.signup-link {
    text-decoration: underline;
}

.error-message {
    font-size: 1rem; 
}
.alert-primary{
    background-color: #000436;
    color: white;
}

/* Styles for user locations modal */
.user-locations-modal-content {
    background-color: #003600; 
    border-radius: 10px; 
    border: 1px solid #dee2e6; 
    box-shadow: 0px 0px 20px white;
}
.user-locations-modal-header {
    background-color: #003600; 
    color: white; 
   
}
.user-locations-modal-body {
    padding: 0; 
    background-color: #040404; 
}
.user-locations-modal-header .close {
    color: white; 
}
.user-locations-modal-dialog .table {
    width: 100%;
    margin-bottom: 0; 
}
